
RewriteEngine On

# PHP uzantısını kaldırmak için bir kural
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# Diğer yönlendirme kuralları
RewriteRule ^sayfa-([0-9a-zA-Z-_]+)$  menu-detay.php?sef=$1 [L,QSA]

# 404 Sayfa Ekleme

#  ErrorDocument 404 



# RewriteRule ^kategori-([0-9a-zA-Z-_]+)-([0-9]+)$  kategoriler.php?sef=$1&kategori_id=$2 [L,QSA]


# RewriteRule ^kullanici-([0-9a-zA-Z-_]+)-([0-9]+)$  user.php?sef=$1&kullanici_id=$1 [L,QSA]

RewriteRule ^urun-([0-9a-zA-Z-_]+)-([0-9]+)$ urun-detay.php?sef=$1&urun_id=$2 [L,QSA]

RewriteRule ^kategoriler-([0-9a-zA-Z-_]+)-([0-9]+)$ kategoriler.php?sef=$1&kategori_id=$2 [L,QSA]

RewriteRule ^urun-([0-9a-zA-Z-_]+)$  urun-detay.php?sef=$1 [L,QSA]


# RewriteRule ^kategori-([0-9a-zA-Z-_]+) kategoriler.php?sef=$1 [L,QSA]



























